* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;

  --white: #ffffff;
  --grey: #ecedf3;
  --black: #080808;

  --bg: #5A2A38;
  --nav-bg: #FBEADA;
  --hover: #f8ab37;
}

body {
  background: var(--bg);
  color: var(--white);
  overflow: hidden;
  overflow-y: scroll;
}
